<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" type="image/png" href="../style/imagens/Logo3.png">
</head>
<body class="Home">
    <div id="particles-js"></div>
    <div class="navbarHome">
        <div class="navbar-left">
            <!-- <span>Logo</span> -->
            <img src="../style/imagens/Logo3.png" alt="Logo" class="logoHome">
        </div>
        <div class="navbar-right">
            <a href="home.html" class="linkHome">Home</a>
            <a href="atividades.html" class="linkHome">Atividades</a>
            <a href="verificação.html" class="linkHome">Login</a>
        </div>
    </div>
    <div class="tituloHome">
        <h1 id="tituloPrincipal">O template feito para você!</h1>
        <h4 class="textoHome">O template agrega com oque?</h4>
        <p class="paragrafoHome">Esse template foi desenvolvido para pessoas que desejam ter produtividade máxima diariamente!</p> <hr class="linhaHome">
    </div>
    <div class="cardsHome">
        <div class="card1">
            <p class="conteudoDev">&lt;/Dev&gt;</p><br>
            <p class="conteudoDetalhes">Este painel é uma ferramenta estratégica para quem busca alta performance, e melhoria contínua nos processos do dia a dia!</p>
        </div>
        <div class="card2">
            <p class="Sobre">Sobre</p>
            <p class="conteudoSobre">O objetivo é transformar rotinas em resultados concretos, com agilidade e visão sistêmica.</p>
        </div>
        <div class="card3">
            <p class="Template">Template</p>
            <p class="conteudoTemplate">Seu ponto de partida para dias mais produtivos e objetivos mais claros.</p>
        </div>
    </div>
    <div>
        <div class="imagem">
            <h1>Organização</h1>
        </div>
    </div>
    <div class="organizacaoHome">
        <div id="organizacao-left">
            <div id="organizacaoTimer">
                <h2 id="status">Foco</h2>
                <div id="timer">25:00</div>
                <button onclick="startTimer()" class="botaoFoco">Iniciar</button>
                <button onclick="resetTimer()" class="botaoFoco2">Resetar</button>
            </div>
        </div>
    </div>
    <div class="organizacaoHome2">
            <div class="organizacao-right">
            <div class="frases" id="frases"></div>
    </div>
    <div>
        <p id="informativo">Links <span id="espaco"></span> utéis:</p>
    </div>
    <div class="containerLinks">
        <a href="https://github.com/" class="linksUteis"><img src="../style/imagens/Github.png" alt="Github" id="Github"></a>
        <a href="https://web.postman.co/" class="linksUteis"><img src="../style/imagens/Postman.png" alt="Postman" id="Postman"></a>
        <a href="https://app.powerbi.com/" class="linksUteis"><img src="../style/imagens/PowerBi.png" alt="PowerBI" id="PowerBi"></a>
        <a href="https://www.brain.fm/" class="linksUteis"><img src="../style/imagens/Musica.png" alt="Musica" id="Musica"></a>
        <a href="https://teams.microsoft.com/v2/" class="linksUteis"><img src="../style/imagens/Teams.png" alt="Teams" id="Teams"></a>
        <a href="https://devdocs.io/" class="linksUteis"><img src="../style/imagens/Documentação.png" alt="Documentação" id="Documentacao"></a>
    </div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="../style/particles.js"></script>
<script src="../style/movimento.js"></script>
</body>
</html>